/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: #eee;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding-top: 25px;
}
/* Sticky footer styles
-------------------------------------------------- */
.page-content{
  margin-top: 100px;
}
a:hover{
  text-decoration: none;
}
.startup-block{
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #ddd;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}
.startup-block:hover{
  box-shadow: 2px 2px 1px #ccc;
  border: 1px solid #ddd;
}
.startup-logo{
  text-align: center;
}
.startup-logo img{
  max-width: 100%;
  max-height: 200px;
}
.startup-name{
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
  color: #333;
}
.startup-founded{
  color: #777;margin-top: 5px;
}
ul.side-nav,.side-nav li{
  list-style: none;margin: 0;padding: 0;
}
.side-nav{
  border: 1px solid #ccc;background: #fff;
}
.side-nav li.heading{
  padding: 10px;background: #f7f7f7;
}
.side-nav li.active{
  background: #eee; border-width: 5px;font-weight: bold;
}
.side-nav li{
  padding: 10px;
}
.border-left-grey{
  border-left: 2px solid #aaa;
}
.border-left-blue{
  border-left: 2px solid #3498db;
}
.border-left-violet{
  border-left: 2px solid #9b59b6;
}
.border-left-navy{
  border-left: 2px solid #34495e;
}
.border-left-orange{
  border-left: 2px solid #e67e22;
}
.border-left-red{
  border-left: 2px solid #e74c3c;
}
.border-left-cyan{
  border-left: 2px solid #16a085;
}
.border-left-green{
  border-left: 2px solid #2ecc71;
}
.border-left-yellow{
  border-left: 2px solid #f1c40f;
}
.side-nav li:hover{
  background: #ddd;cursor: pointer;
}